<html>

<head>
    <title>Panel</title>
</head>

<body>
    <h3>Panel</h3>

    <form method="POST" action="/panel">
        <label>Title:</label><br>
        <input type="text" name="title"><br>
        <label>Description:</label><br>
        <input type="text" name="description"><br>
        <label>Start Date:</label><br>
        <input type="text" name="startDate"><br>
        <label>End Date:</label><br>
        <input type="text" name="endDate"><br>
        <label>Priority:</label><br>
        <input type="text" name="priority"><br>
        <label>Status:</label><br>
        <input type="text" name="status"><br>
        <input type="submit" value="Add task">
    </form>
</body>

</html>